

  .card-title{
    font-weight: bolder;
  }
  .codeLink{
    color: gray;
    font-weight: bold;
  }
  .codeLink:hover{
   text-decoration: underline;
  }
  .project-container{
    background-color: #EAEAEA;
  }
  .about-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    flex: 0.5;
    width: 100%;
    height: fit-content;
}
/* <div>
<a className='codeLink' href="https://github.com/Manikonline/book-colleges-client"> <span>Code:</span> Client Site </a>
</div> */
.about-description >h2 {
    margin-bottom: 40px;
    font-size: 3.5rem;
    font-family: var(--primaryFont);
}
  
/* Add this CSS to your existing stylesheet or create a new one */

/* Style for the modal container */
.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for the modal title */
.modal-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* Style for the modal options */
.modal-option {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

/* Style for the modal links */
.modal-link {
  color: #007BFF;
  text-decoration: none;
  font-weight: bold;
}

/* Hover effect for the modal links */
.modal-link:hover {
  text-decoration: underline;
}
.selectoption{
  font-weight: 800;
  color: rgb(19, 19, 161);
}
.modal-link{
  color: gray;
}
.project-des{
  font-weight: 900;
  color: gray;
}
  /* Responsive styles */


@media (min-width: 992px) and (max-width: 1380px) {

  
}


@media screen and (max-width: 992px){

  .card-container{
    padding: 5px;
   }

}

@media screen and (max-width: 800px){
  .card-container{
    padding: 5px;
   }

}

@media screen and (max-width: 600px){
  .card-container{
    padding: 5px;
   }
  
}