/* Skills.css */

/* Common styles for both computer and phone */


.circular-progress {
  position: relative;
}

.label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.skill-title{
  font-style: italic;
}
/* Skills.css */

.skills {
  display: flex;
  width: 100%;
  justify-content: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skills-section{
  background-color: #EAEAEA;
}

.skill-container {
  margin: 0 10px; /* Adjust margin as needed for spacing between circular progress bars */
  /* ... (existing styles) */
}
.skills-container {
  margin: 0 10px; /* Adjust margin as needed for spacing between circular progress bars */
  /* ... (existing styles) */
}


/* Computer styles */
@media (min-width: 768px) {
  .skills {
    display: flex;
    
    justify-content: space-between;
  }
  .skill {
    display: flex;
 
    justify-content: space-between;
  }

 

  .circular-progress {
    margin: 0 auto;
 
  }

}

/* Phone styles */
@media (max-width: 767px) {
  .skills {
    flex-direction: column;
    margin: 0 ;
    padding: 0;
    align-items: center;
  }
  .skill-title{
    text-align: center;
    padding: 0;
  }
  .skill-container {
    margin: 0 10px; /* Adjust margin as needed for spacing between circular progress bars */
    text-align: center;
  }
  .label{
    margin-left: 22px;

  }
  .skills-container {
    margin: 0 10px; /* Adjust margin as needed for spacing between circular progress bars */
    text-align: center;
  }
  
  .skill {
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }
 

  .about-description {
    text-align: center;
    margin: 0;
  }

  /* Ensure circular-progress elements are displayed in two columns for small skills */
  .skills .circular-progress {
    width: 48%; /* Two columns on small screens */
    margin-bottom: 16px;
  }
  .skill .circular-progress {
    width: 48%; /* Two columns on small screens */
    margin-bottom: 16px;
  }

  .skills .circular-progress:nth-child(odd) {
    margin-right: 4%; /* Adjust the spacing between the columns */
  }
  .skill .circular-progress:nth-child(odd) {
    margin-right: 4%; /* Adjust the spacing between the columns */
  }

  /* Center the label in the middle of the circle */
  .circular-progress .label {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
